//----------------------------------------------------//
// Inputs & Form & Controls				       		  //
//----------------------------------------------------//
fieldset {
  display: block;
  text-align: center;
}

label {
  display: block;
  &:hover {
    cursor: pointer;
  }
}
//----------------------------------------------------//
// Inputs
//----------------------------------------------------//
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
textarea,
select,
.input {
  @include placeholderColor(#424242);
}


textarea {
  height: 150px;
  width: 100%;
}


//----------------------------------------------------//
// SELECT [INPUT]								      //
//----------------------------------------------------//
select {
  display: block;
  @include clearSelect;
  transition: none;
  background-position: right 12px center;
  background-repeat: no-repeat;
  background-image: url('../img/down.png');
  background-size: 9px 7px;
  background-color: #fff;
}

//----------------------------------------------------//
// Buttons
//----------------------------------------------------//

.butn-link{
  text-align: center;
  vertical-align: top;
  font-weight: $mainFontWeight;
  font-size: 18px;
  line-height: 18px;
  padding: 11px 9px 12px;
  background: #ccc;
  color: $secondFontColor;
  border: 0;
  border-radius: 70px;
  position: relative;
  transition: all .3s ease-in-out;
  width: 100%;
  display: block;
  &:before{
    position: absolute;
    top: -5px;
    left: -5px;
    bottom: -5px;
    right: -5px;
    border-radius: 70px;
    border: 2px solid black;
    content: '';
  }
  &-red{
    background: $secondcolor;
    &:hover,
    &.active {
      box-shadow: 0 0 0 4px $secondcolor;
    }
    &:focus {
      background: #ed3c2e;
      box-shadow: 0 0 0 4px #ed3c2e;
    }
    &:before{
      border: 2px solid $secondcolor;

    }
    &:focus:before {
      border: 2px solid  #ed3c2e;
    }
  }
  &-blue{
    background: transparent;
    color: #006674;
    &:hover,
    &.active {
      background: #7bcfd9;
      color: $secondFontColor;
    }
    &:focus {
      background: #32b3c6;
    }
    &:before{
      border: 2px solid #7bcfd9;
    }
    &:focus:before {
      border: 2px solid #32b3c6;
    }
  }
  &-trans{
    background: transparent;
    color: #ff786e;
    &:hover,
    &.active {
      background: #ff786e;
      color: $secondFontColor;
    }
    &:focus {
      background: #ff786e;
    }
    &:before{
      border: 2px solid #ff786e;
    }
    &:focus:before {
      border: 2px solid #ff786e;
    }
  }
  &:hover,
  &.active {
    color: #fff;
  }
  &:focus {
    position: relative;
  }
  &.disabled,
  &[disabled="disabled"],
  &[disabled] {
    background: #ccc;
    color: #aaa;
    cursor: not-allowed;
  }
  i{
    font-size: 14px;
  }
}

