//----------------------------------------------------//
// Variables                                          //
//----------------------------------------------------//
$mainFont: 'Roboto', sans-serif;
$mainFontSize: 18px;
$mainFontHeight: 24px;
$mainFontWeight: 400;
$mainFontColor: #424242;

$secondFont: 'Raleway', sans-serif;
$secondFontColor: #fff;


//----------------------------------------------------//
// Variables => Colors
//----------------------------------------------------//
$default: #006674;
$secondcolor: #ff4e40;