//----------------------------------------------------//
// MAIN 						 				      //
//----------------------------------------------------//
body{
        font-family:  'Roboto Condensed', sans-serif;
        color: #595959;

}
a:focus {
        outline: none;
        outline-offset: 0;
}
a:focus, a:hover {
        color: #fff;
        text-decoration: none;

}
@media only screen and (max-width: 767px){


}