@@include('template/layout/header.html')

<main class="content affiliates">
  <section class="banner-affiliates banner-page">
    <div class="container">
      <h1 class="banner-title"><strong>Партнерский (реферальный) маркетинг</strong><br class="d-none d-lg-inline-block">
        - прибыльный бизнес, где Вы получаете пассивный доход<br class="d-none d-lg-inline-block"> за приведённых
        клиентов!</h1>
    </div>
  </section>
  <section class="whyas-text">
    <div class="container">
      <p>GVO Conference даёт Вам возможность зарабатывать комиссии за каждого приглашенного Вами оплаченного клиента,
        который будет пользоваться нашими услугами. Наши пользователи быстро начинают получать достойную прибыль!</p>
      <div class="packages-link"><a href="#" class="butn-link butn-link-trans">Cмотреть тарифы <i
              class="fas fa-angle-double-right"></i></a></div>
      <div class="content-title-pages">Заработайте на траффике!</div>
      <p>Стать партнером GVO Conference легко: просто приобретите аккаунт с вебинарной комнатой вместительностью от 100
        мест. Вам достаточно привести двух человек с оплаченным аккаунтом в систему партнеров, чтобы иметь постоянный
        доход из дома на автомате! Чем больше привлеченных Вами клиентов, тем выше Ваши комиссионные выплаты.</p>
    </div>
  </section>
  <section class="affiliates-income">
    <div class="container-fluid">
      <div class="row">
        <div class="affiliates-income-img">
          <div class="affiliates-img">
            <img src="img/pic_4_mob.png" alt="photo" class="img-fluid d-md-none">
            <img src="img/pic_4.png" alt="photo" class="img-fluid d-none d-md-inline-block">
          </div>
        </div>
        <div class="affiliates-income-right">
          <div class="affiliates-card">
            <div class="affiliates-title">50% Бонус быстрого старта</div>
            <p>Получите 50% от первого платежа за каждого лично Вами приведенного партнера. Регистрация должна быть по
              Вашей партнерской ссылке.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="affiliates-income-left">
          <div class="affiliates-card">
            <div class="affiliates-title">5% Пассивный доход</div>
            <p>Каждый месяц (начиная со второго) Вы будете получать 5% со всех оплат Ваших лично приведенных (прямых)
              рефералов и от продаж Ваших прямых партнеров.</p>
          </div>
        </div>
        <div class="affiliates-income-img">
          <div class="affiliates-img">
            <img src="img/pic_5_mob.png" alt="photo" class="img-fluid d-md-none">
            <img src="img/pic_5.png" alt="photo" class="img-fluid d-none d-md-inline-block">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="affiliates-why">
    <div class="container">
      <div class="content-title-pages">Почему важно присоединиться к партнерской программе<br
              class="d-none d-lg-inline-block"> <span>GVO CONFERENCE?</span></div>
      <div class="row">
        <div class="col-md-4 col-mar">
          <div class="affiliates-why-icon"><span><i class="fas fa-check"></i></span><i class="fas fa-trophy"></i></div>
          <div class="affiliates-why-text">Лучшая маркетинг платформа в индустрии</div>
        </div>
        <div class="col-md-4 col-mar">
          <div class="affiliates-why-icon"><span><i class="fas fa-check"></i></span><i class="far fa-gem"></i></div>
          <div class="affiliates-why-text">Действительно востребованный онлайн инструмент</div>
        </div>
        <div class="col-md-4 col-mar">
          <div class="affiliates-why-icon"><span><i class="fas fa-check"></i></span><i class="fas fa-images"></i></div>
          <div class="affiliates-why-text">Сотни баннеров для продвижения</div>
        </div>
        <div class="col-md-4 col-mar">
          <div class="affiliates-why-icon"><span><i class="fas fa-check"></i></span><i class="far fa-envelope"></i>
          </div>
          <div class="affiliates-why-text">Система автоматической рассылки сообщений</div>
        </div>
        <div class="col-md-4 col-mar">
          <div class="affiliates-why-icon"><span><i class="fas fa-check"></i></span><i class="fas fa-piggy-bank"></i>
          </div>
          <div class="affiliates-why-text">Вы нигде не найдёте дешевле!</div>
        </div>
        <div class="col-md-4 col-mar">
          <div class="affiliates-why-icon"><span><i class="fas fa-check"></i></span><i
                  class="fas fa-window-restore"></i></div>
          <div class="affiliates-why-text">Мастер форм для сайтов-воронок</div>
        </div>
        <div class="col-md-4 col-mar">
          <div class="affiliates-why-icon"><span><i class="fas fa-check"></i></span><i class="fas fa-chart-bar"></i>
          </div>
          <div class="affiliates-why-text">Прозрачная система мониторинга продаж и комиссий</div>
        </div>
        <div class="col-md-4 col-mar">
          <div class="affiliates-why-icon"><span><i class="fas fa-check"></i></span><i class="fas fa-donate"></i></div>
          <div class="affiliates-why-text">*Возможность оплачивать сервис комиссионными</div>
        </div>
        <div class="col-md-4 col-mar">
          <div class="affiliates-why-icon"><span><i class="fas fa-check"></i></span><i class="far fa-credit-card"></i>
          </div>
          <div class="affiliates-why-text">*Комиссии - на карту Payoneer (бесплатная регистрация) или на карту вашего
            банка
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="affiliates-why-descr"><strong>*Возможность оплачивать сервис комиссионными</strong> - просто
            укажите Вашу карту для выплат комиссий, как платёжную.
          </div>
          <div class="affiliates-why-descr"><strong>*Комиссии - на карту Payoneer (бесплатная регистрация) или на любую
            карту вашего банка</strong> - обратитесь к нам в поддержку за более детальной информацией.
          </div>
          <div class="affiliates-link"><a href="#" class="butn-link butn-link-red">Присоединиться!</a></div>
          <p>GVO Conference - это быстрый способ начать продвигать онлайн-конференцию и сопутствующие услуги уже сейчас!
            Мы сделали его прибыльным, удобным, интуитивно понятным.</p>
          <p>Вы можете получить более подробную информацию касательно нашей партнерской программы в Вашем профиле, когда
            станете оплаченным клиентом. Мы не предлагаем нашу партнерскую программу тем, кто не является нашими
            клиентами.</p>
          <p>По любым Вашим вопросам, касающихся партнерской программы GVO Сonference, пожалуйста, нажмите сюда, чтобы
            связаться с нами.</p>
          <p class="affiliates-small">Выплата комиссий будет произведена через 60 дней после первой продажи в первый
            месяц участия в партнерской программе. Результаты, возможно, будут разные, поскольку они зависят от того,
            сколько времени и усилий Вы вложили.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="trealweek">
    <div class="container">
      <div class="trealweek-test">Тестировать неделю <span> за</span> $1.00!</div>
      <div class="row">
        <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-4">
          <div class="trealweek-link"><a href="#" class="butn-link butn-link-red">Да, хочу попробовать сейчас! <i
                  class="fas fa-angle-double-right"></i></a></div>
        </div>
      </div>
    </div>
  </section>

</main>

@@include('template/layout/footer.html')