@@include('template/layout/header.html')

<main class="content">
  <section class="banner">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1><strong>GVO Conference</strong></h1>
          <div class="banner-title">доступная площадка для проведения и продвижения вебинаров!</div>
          <div class="row">
            <div class="col-lg-6">
              <div class="banner-link">
                <a href="#" class="butn-link butn-link-red">Узнать больше <i class="fas fa-angle-double-right"></i> </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="forwhat">
    <div class="container">
      <div class="content-title">Для чего использовать вебинарную комнату решать только Вам!</div>
      <div class="row">
        <div class="col-md-4 col-lg-2 col-mar">
          <div class="forwhat-list">
            <span><i class="fas fa-globe"></i></span>
            <span class="forwhat-item">Онлайн мастер-классы</span>
          </div>
        </div>
        <div class="col-md-4 col-lg-2 col-mar">
          <div class="forwhat-list forwhat-list-2">
            <span><i class="fas fa-book-open"></i></span>
            <span class="forwhat-item">Удаленное обучение сотрудников</span>
          </div>
        </div>
        <div class="col-md-4 col-lg-2 col-mar">
          <div class="forwhat-list forwhat-list-3">
            <span><i class="fas fa-desktop"></i></span>
            <span class="forwhat-item">Презентации Вашей продукции</span>
          </div>
        </div>
        <div class="col-md-4 col-lg-2 col-mar">
          <div class="forwhat-list forwhat-list-4">
            <span><i class="fas fa-trophy"></i></span>
            <span class="forwhat-item">Эксклюзивные спортивные тренировки</span>
          </div>
        </div>
        <div class="col-md-4 col-lg-2 col-mar">
          <div class="forwhat-list forwhat-list-5">
            <span><i class="fas fa-graduation-cap"></i></span>
            <span class="forwhat-item">Онлайн обучение /курсы</span>
          </div>
        </div>
        <div class="col-md-4 col-lg-2 col-mar">
          <div class="forwhat-list forwhat-list-6">
            <span><i class="fas fa-laptop"></i></span>
            <span class="forwhat-item">Ваш вариант</span>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6">
          <div class="banner-link">
            <a href="#" class="butn-link butn-link-blue">Посмотреть возможности<br class="d-md-none"> комнаты <i
                    class="fas fa-angle-double-right"></i> </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="getstarted">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-5 col-md-5 getstarted-first">
          <div class="getstarted-item">
            <span class="getstarted-text">Зарабатывай<br class="d-none d-md-inline-block"> комиссии!</span>
            <span class="getstarted-circle"></span>
            <span class="getstarted-line"></span>
            <span class="getstarted-icon"><i class="fas fa-donate"></i>
                  </span>
          </div>
          <div class="getstarted-item">
            <span class="getstarted-text">Брендируй<br class="d-none d-md-inline-block"> свою<br
                    class="d-none d-md-inline-block"> комнату!</span>
            <span class="getstarted-circle"></span>
            <span class="getstarted-line"></span>
            <span class="getstarted-icon"><i class="fas fa-paint-brush"></i></i>
                  </span>
          </div>
          <div class="getstarted-item">
            <span class="getstarted-text d-lg-inline-block d-md-none d-sm-inline-block">Автоматизируй<br
                    class="d-none d-md-inline-block"> приглашения на<br> вебинары!</span>
            <span class="getstarted-text d-lg-none d-md-inline-block d-none">Автомати-<br>зируй<br> приглаше-<br> ния на<br> вебинары!</span>
            <span class="getstarted-circle"></span>
            <span class="getstarted-line"></span>
            <span class="getstarted-icon"><i class="fas fa-cogs"></i></i>
                  </span>
          </div>
          <div class="getstarted-item">
            <span class="getstarted-text">Перепродавай <br class="d-none d-md-inline-block">комнаты!</span>
            <span class="getstarted-circle"></span>
            <span class="getstarted-line"></span>
            <span class="getstarted-icon"><i class="fas fa-coins"></i></i>
                  </span>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 getstarted-second">
          <div class="getstarted-title">Начни прямо сейчас!</div>
          <div class="getstarted-link"><a href="#" class="butn-link butn-link-red">Подробнее <i
                  class="fas fa-angle-double-right d-md-none d-lg-inline-block"></i></a></div>
        </div>
        <div class="col-lg-5 col-md-5 getstarted-third">
          <div class="getstarted-item getstarted-item-right">
                   <span class="getstarted-icon"><i class="fab fa-youtube"></i></i>
                  </span>
            <span class="getstarted-line"></span>
            <span class="getstarted-circle"></span>
            <span class="getstarted-text d-md-inline-block d-none">Транслируй<br> вебинар на Face-<br>book и Youtube!</span>
            <span class="getstarted-text d-inline-block d-md-none">Транслируй вебинар на<br> Facebook и Youtube!</span>

          </div>
          <div class="getstarted-item getstarted-item-right">
                   <span class="getstarted-icon"><i class="fab fa-html5"></i></i>
                  </span>
            <span class="getstarted-line"></span>
            <span class="getstarted-circle"></span>
            <span class="getstarted-text">Попробуй<br class="d-none d-md-inline-block d-lg-none"> комнату<br> на HTML5!</span>
          </div>
          <div class="getstarted-item getstarted-item-right">
                   <span class="getstarted-icon"><i class="far fa-window-restore"></i></i>
                  </span>
            <span class="getstarted-line"></span>
            <span class="getstarted-circle"></span>
            <span class="getstarted-text">Приобретай <br class="d-none d-md-inline-block d-lg-none">до<br
                    class="d-none d-lg-inline-block"> 5 комнат<br class="d-lg-none"> в одном <br
                    class="d-none d-md-inline-block"> аккаунте!</span>
          </div>
          <div class="getstarted-item getstarted-item-right">
                   <span class="getstarted-icon"><i class="fas fa-user-cog"></i></i>
                  </span>
            <span class="getstarted-line"></span>
            <span class="getstarted-circle"></span>
            <span class="getstarted-text">Консультируйся<br>с дружелюбной<br class="d-none d-md-inline-block"> поддержкой <br
                    class="d-md-none"> 24/7</span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="ensure">
    <div class="container">
      <div class="content-title">Мы гарантируем:</div>
      <div class="row">
        <div class="col-md-4 col-mar">
          <div class="ensure-img text-center"><img src="img/pic_1.png" alt="photo" class="img-fluid"></div>
          <span>Самые низкие цены<br> в индустрии</span>
        </div>
        <div class="col-md-4 col-mar">
          <div class="ensure-img text-center"><img src="img/pic_2.png" alt="photo" class="img-fluid"></div>
          <span>Понятные<br> видео-уроки</span>
        </div>
        <div class="col-md-4 col-mar">
          <div class="ensure-img text-center"><img src="img/pic_3.png" alt="photo" class="img-fluid"></div>
          <span>Платформа - больше 10 лет на рынке!</span>
        </div>
      </div>
    </div>
  </section>
  <section class="why">
    <div class="container">
      <div class="content-title">Почему именно GVO Conference?</div>
      <div class="row row-mar">
        <div class="col-3">
          <div class="panel-offer panel-first">
            <div class="panel-offer-heading">
              <div class="panel-offer-title text-center">Вместительность<br> комнаты</div>
            </div>
            <div class="panel-offer-body">
              <ul class="text-center">
                <li>My own<br class="d-inline-block d-md-none">conference</li>
                <li>Web<br class="d-inline-block d-md-none">conferens</li>
                <li>Webinar</li>
                <li class="panel-offer-footer">GVO Conference</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="panel-offer panel-second">
            <div class="panel-offer-heading">
              <div class="panel-offer-title text-center">
                <div><i class="fas fa-user"></i> 100 Мест</div>
              </div>
            </div>
            <div class="panel-offer-body">
              <ul class="text-center">
                <li class="panel-item-dash">-</li>
                <li class="panel-item-dash">-</li>
                <li>
                  <div>$20.00/<span>мес</span></div>
                </li>
                <li class="panel-offer-footer">
                  <div>$9.97/<span>мес</span></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="panel-offer panel-third">
            <div class="panel-offer-heading">
              <div class="panel-offer-title text-center">
                <div><i class="fas fa-user"></i> 300 Мест</div>
              </div>
            </div>
            <div class="panel-offer-body">
              <ul class="text-center">
                <li>
                  <div>$58.00/<span>мес</span>
                    <p>(при оплате сразу за год)</p></div>
                </li>
                <li>
                  <div>$52.00/<span>мес</span>
                    <p>(при оплате сразу за 6 месяцев)</p>
                  </div>
                </li>
                <li>
                  <div>$40.00/<span>мес</span></div>
                </li>
                <li class="panel-offer-footer">
                  <div>$22.49/<span>мес</span></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="panel-offer panel-fourth">
            <div class="panel-offer-heading">
              <div class="panel-offer-title text-center">
                <div><i class="fas fa-user"></i> 500 Мест</div>
              </div>
            </div>
            <div class="panel-offer-body">
              <ul class="text-center">
                <li>
                  <div>$50.00/<span>мес</span></div>
                </li>
                <li>
                  <div>$87.76/<span>мес</span>
                    <p>(при оплате сразу за 6 месяцев)</p></div>
                </li>
                <li class="panel-item-dash">-</li>
                <li class="panel-offer-footer">
                  <div>$17.97/<span>мес</span></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="trealweek">
    <div class="container">
      <div class="trealweek-title">Возможность проведения конференции еще не была такой доступной - начните Ваш вебинар
        уже через несколько минут!
      </div>
      <div class="trealweek-desc">Мы представляем продукт, демонстрируем, обучаем, обеспечиваем<br> поддержку и
        транслируем - все это в любой точке земного шара!
      </div>
      <div class="trealweek-test">Пробная неделя <span>всего за</span> $1.00!</div>
      <div class="row">
        <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-4">
          <div class="trealweek-link"><a href="#" class="butn-link butn-link-red">Да, хочу попробовать сейчас! <i
                  class="fas fa-angle-double-right"></i></a></div>
        </div>
      </div>
      <div class="row align-items-sm-center">
        <div class="col-md-12 col-lg-1 offset-lg-2"><img src="img/guarantee.png" alt="guarantee"></div>
        <div class="col-md-12 col-lg-6">
          <div class="trealweek-back">И да, мы вернем Вам деньги, если вдруг в ходе тестирования вебинарной комнаты Вам
            что-то не подойдёт. Пожалуйста, ознакомьтесь с политикой возврата, она Вас приятно удивит.
          </div>
        </div>
      </div>
    </div>
  </section>
</main>


@@include('template/layout/footer.html')
 