@@include('template/layout/header.html')

<main class="content">
  <section class="banner-packages banner-page">
    <div class="container">
      <h1 class="banner-title"><strong>GVO Conference</strong><br class="d-inline-block d-md-none"> - лучшие цены в<br
              class="d-inline-block d-md-none"> индустрии!</h1>
    </div>
  </section>
  <section class="why rate">
    <div class="container">
      <div class="content-title-pages">Тарифы на проведения вебинаров</div>
      <div class="row d-none d-md-flex">
        <div class="col-2">
          <div class="panel-more panel-more-first">
            <div class="panel-more-heading">
              <div class="panel-more-title text-center">Вместитель&shy;ность<br> комнаты</div>
            </div>
            <div class="panel-more-body">
              <ul>
                <li>Месяц</li>
                <li>Год</li>
                <li>2 Года</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="panel-more panel-more-one">
            <div class="panel-more-heading">
              <div class="panel-more-title text-center">
                <div><span>1 комната</span><br>
                  <i class="fas fa-user"></i> <strong>50 Мест</strong>
                </div>
              </div>
            </div>
            <div class="panel-more-body">
              <ul class="text-center">
                <li>
                  <p class="panel-price">$8.97<span>/мес</span></p>
                  <p class="panel-month"><span>$1</span> пробная неделя</span></p>
                  <p><a href="#" class="panel-link"><span class="panel-icon"><i class="fas fa-check"></i></span>
                    Заказать</a></p>
                </li>
                <li>
                  <p class="panel-del">$107.64/мес</p>
                  <p class="panel-price">$98.67<span>/год</span></p>
                  <p class="panel-month"><i class="fas fa-gift"></i> <span>1 месяц в подарок</span></p>
                  <p><a href="#" class="panel-link"><span class="panel-icon"><i class="fas fa-check"></i></span>
                    Заказать</a></p>
                </li>
                <li>
                  <p class="panel-del">$215.28/2 года</p>
                  <p class="panel-price">$197.34<span>/2 года</span></p>
                  <p class="panel-month"><i class="fas fa-gift"></i> <span>2 месяца в подарок</span></p>
                  <p><a href="#" class="panel-link">
                    <span class="panel-icon"><i class="fas fa-check"></i></span> Заказать</a></p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="panel-more panel-more-second">
            <div class="panel-more-heading">
              <div class="panel-more-title text-center">
                <div><span>1 комната</span><br>
                  <i class="fas fa-user"></i> <strong>100 Мест</strong>
                </div>
              </div>
            </div>
            <div class="panel-more-body">
              <ul class="text-center">
                <li>
                  <p class="panel-del">$17.97/мес</p>
                  <p class="panel-price">$9.97<span>/мес</span></p>
                  <p class="panel-month"><span>$1 пробная неделя</span></p>
                  <p><a href="#" class="panel-link"><span class="panel-icon"><i class="fas fa-check"></i></span>
                    Заказать</a></p>
                </li>
                <li>
                  <p class="panel-del">$119.64/мес</p>
                  <p class="panel-price">$109.67<span>/год</span></p>
                  <p class="panel-month"><i class="fas fa-gift"></i> <span>1 месяц в подарок</span></p>
                  <p><a href="#" class="panel-link"><span class="panel-icon"><i class="fas fa-check"></i></span>
                    Заказать</a></p>
                </li>
                <li>
                  <p class="panel-del">$430.56/2 года</p>
                  <p class="panel-price">$219.34<span>/2 года</span></p>
                  <p class="panel-month"><i class="fas fa-gift"></i> <span>2 месяца в подарок</span></p>
                  <p><a href="#" class="panel-link"><span class="panel-icon"><i class="fas fa-check"></i></span>
                    Заказать</a></p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="panel-more panel-more-third">
            <div class="panel-more-heading">
              <div class="panel-more-title text-center">
                <div><span>1 комната</span><br>
                  <i class="fas fa-user"></i> <strong>200 Мест</strong>
                </div>
              </div>
            </div>
            <div class="panel-more-body">
              <ul class="text-center">
                <li>
                  <p class="panel-del">$35.88/мес</p>
                  <p class="panel-price">$15.95<span>/мес</span></p>
                  <p class="panel-month"><span>$1 пробная неделя</span></p>
                  <p><a href="#" class="panel-link"><span class="panel-icon"><i class="fas fa-check"></i></span>
                    Заказать</a></p>
                </li>
                <li>
                  <p class="panel-del">$119.40/мес</p>
                  <p class="panel-price">$159.95<span>/год</span></p>
                  <p class="panel-month"><i class="fas fa-gift"></i> <span>1 месяц в подарок</span></p>
                  <p><a href="#" class="panel-link"><span class="panel-icon"><i class="fas fa-check"></i></span>
                    Заказать</a></p>
                </li>
                <li>
                  <p class="panel-del">$861.12/2 года</p>
                  <p class="panel-price">$350.90<span>/2 года</span></p>
                  <p class="panel-month"><i class="fas fa-gift"></i> <span>2 месяца в подарок</span></p>
                  <p><a href="#" class="panel-link"><span class="panel-icon"><i class="fas fa-check"></i></span>
                    Заказать</a></p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="panel-more panel-more-fifth">
            <div class="panel-more-heading">
              <div class="panel-more-title text-center">
                <div><span>1 комната</span><br>
                  <i class="fas fa-user"></i> <strong>300 Мест</strong>
                </div>
              </div>
            </div>
            <div class="panel-more-body">
              <ul class="text-center">
                <li>
                  <p class="panel-del">$53.82/мес</p>
                  <p class="panel-price">$22.49<span>/мес</span></p>
                  <p class="panel-month"><span>$1 пробная неделя</span></p>
                  <p><a href="#" class="panel-link"><span class="panel-icon"><i class="fas fa-check"></i></span>
                    Заказать</a></p>
                </li>
                <li>
                  <p class="panel-del">$645.84/мес</p>
                  <p class="panel-price">$247.39<span>/год</span></p>
                  <p class="panel-month"><i class="fas fa-gift"></i> <span>1 месяц в подарок</span></p>
                  <p><a href="#" class="panel-link"><span class="panel-icon"><i class="fas fa-check"></i></span>
                    Заказать</a></p>
                </li>
                <li>
                  <p class="panel-del">$1267.68/2 года</p>
                  <p class="panel-price">$494.78<span>/2 года</span></p>
                  <p class="panel-month"><i class="fas fa-gift"></i> <span>2 месяца в подарок</span></p>
                  <p><a href="#" class="panel-link"><span class="panel-icon"><i class="fas fa-check"></i></span>
                    Заказать</a></p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="panel-more panel-more-fourth">
            <div class="panel-more-heading">
              <div class="panel-more-title text-center">
                <div><span>1 комната</span><br>
                  <i class="fas fa-user"></i> <strong>500 Мест</strong>
                </div>
              </div>
            </div>
            <div class="panel-more-body">
              <ul class="text-center">
                <li>
                  <p class="panel-sale">Скидка <span>-80%</span></p>
                  <p class="panel-price">$17.97<span>/мес</span></p>
                  <p class="panel-month"><span>$1 пробная неделя</span></p>
                  <p><a href="#" class="panel-link"><span class="panel-icon"><i class="fas fa-check"></i></span>
                    Заказать</a></p>
                </li>
                <li>
                  <p class="panel-del">$215.64/мес</p>
                  <p class="panel-price">$197.67<span>/год</span></p>
                  <p class="panel-month"><i class="fas fa-gift"></i> <span>1 месяц в подарок</span></p>
                  <p><a href="#" class="panel-link"><span class="panel-icon"><i class="fas fa-check"></i></span>
                    Заказать</a></p>
                </li>
                <li>
                  <p class="panel-del">$431.28/2 года</p>
                  <p class="panel-price">$395.34<span>/2 года</span></p>
                  <p class="panel-month"><i class="fas fa-gift"></i> <span>2 месяца в подарок</span></p>
                  <p><a href="#" class="panel-link"><span class="panel-icon"><i class="fas fa-check"></i></span>
                    Заказать</a></p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row row-mar d-md-none">
        <div class="col-4">
          <div class="panel-more panel-more-first">
            <div class="panel-more-heading">
              <div class="panel-more-title text-center">Вместитель&shy;ность<br> комнаты</div>
            </div>
            <div class="panel-more-body">
              <ul>
                <li>Месяц</li>
                <li>Год</li>
                <li>2 Года</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-8">
          <div class="panel-more panel-more-one">
            <div class="panel-more-heading">
              <div class="panel-more-title text-center">
                <div><span>1 комната</span><br>
                  <i class="fas fa-user"></i> <strong>50 Мест</strong>
                </div>
              </div>
            </div>
            <div class="panel-more-body">
              <ul class="text-center">
                <li>
                  <p class="panel-price">$8.97<span>/мес</span></p>
                  <p class="panel-month"><span>$1</span> пробная неделя</span></p>
                  <p><a href="#" class="panel-link"><span class="panel-icon"><i class="fas fa-check"></i></span>
                    Заказать</a></p>
                </li>
                <li>
                  <p class="panel-del">$107.64/мес</p>
                  <p class="panel-price">$98.67<span>/год</span></p>
                  <p class="panel-month"><i class="fas fa-gift"></i> <span>1 месяц в подарок</span></p>
                  <p><a href="#" class="panel-link"><span class="panel-icon"><i class="fas fa-check"></i></span>
                    Заказать</a></p>
                </li>
                <li>
                  <p class="panel-del">$215.28/2 года</p>
                  <p class="panel-price">$197.34<span>/2 года</span></p>
                  <p class="panel-month"><i class="fas fa-gift"></i> <span>2 месяца в подарок</span></p>
                  <p><a href="#" class="panel-link">
                    <span class="panel-icon"><i class="fas fa-check"></i></span> Заказать</a></p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row row-mar d-md-none">
        <div class="col-4">
          <div class="panel-more panel-more-first">
            <div class="panel-more-heading">
              <div class="panel-more-title text-center">Вместитель&shy;ность<br> комнаты</div>
            </div>
            <div class="panel-more-body">
              <ul>
                <li>Месяц</li>
                <li>Год</li>
                <li>2 Года</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-8">
          <div class="panel-more panel-more-second">
            <div class="panel-more-heading">
              <div class="panel-more-title text-center">
                <div><span>1 комната</span><br>
                  <i class="fas fa-user"></i> <strong>100 Мест</strong>
                </div>
              </div>
            </div>
            <div class="panel-more-body">
              <ul class="text-center">
                <li>
                  <p class="panel-del">$17.97/мес</p>
                  <p class="panel-price">$9.97<span>/мес</span></p>
                  <p class="panel-month"><span>$1 пробная неделя</span></p>
                  <p><a href="#" class="panel-link"><span class="panel-icon"><i class="fas fa-check"></i></span>
                    Заказать</a></p>
                </li>
                <li>
                  <p class="panel-del">$119.64/мес</p>
                  <p class="panel-price">$109.67<span>/год</span></p>
                  <p class="panel-month"><i class="fas fa-gift"></i> <span>1 месяц в подарок</span></p>
                  <p><a href="#" class="panel-link"><span class="panel-icon"><i class="fas fa-check"></i></span>
                    Заказать</a></p>
                </li>
                <li>
                  <p class="panel-del">$430.56/2 года</p>
                  <p class="panel-price">$219.34<span>/2 года</span></p>
                  <p class="panel-month"><i class="fas fa-gift"></i> <span>2 месяца в подарок</span></p>
                  <p><a href="#" class="panel-link"><span class="panel-icon"><i class="fas fa-check"></i></span>
                    Заказать</a></p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row row-mar d-md-none">
        <div class="col-4">
          <div class="panel-more panel-more-first">
            <div class="panel-more-heading">
              <div class="panel-more-title text-center">Вместитель&shy;ность<br> комнаты</div>
            </div>
            <div class="panel-more-body">
              <ul>
                <li>Месяц</li>
                <li>Год</li>
                <li>2 Года</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-8">
          <div class="panel-more panel-more-third">
            <div class="panel-more-heading">
              <div class="panel-more-title text-center">
                <div><span>1 комната</span><br>
                  <i class="fas fa-user"></i> <strong>200 Мест</strong>
                </div>
              </div>
            </div>
            <div class="panel-more-body">
              <ul class="text-center">
                <li>
                  <p class="panel-del">$35.88/мес</p>
                  <p class="panel-price">$15.95<span>/мес</span></p>
                  <p class="panel-month"><span>$1 пробная неделя</span></p>
                  <p><a href="#" class="panel-link"><span class="panel-icon"><i class="fas fa-check"></i></span>
                    Заказать</a></p>
                </li>
                <li>
                  <p class="panel-del">$119.40/мес</p>
                  <p class="panel-price">$159.95<span>/год</span></p>
                  <p class="panel-month"><i class="fas fa-gift"></i> <span>1 месяц в подарок</span></p>
                  <p><a href="#" class="panel-link"><span class="panel-icon"><i class="fas fa-check"></i></span>
                    Заказать</a></p>
                </li>
                <li>
                  <p class="panel-del">$861.12/2 года</p>
                  <p class="panel-price">$350.90<span>/2 года</span></p>
                  <p class="panel-month"><i class="fas fa-gift"></i> <span>2 месяца в подарок</span></p>
                  <p><a href="#" class="panel-link"><span class="panel-icon"><i class="fas fa-check"></i></span>
                    Заказать</a></p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row row-mar d-md-none">
        <div class="col-4">
          <div class="panel-more panel-more-first">
            <div class="panel-more-heading">
              <div class="panel-more-title text-center">Вместитель&shy;ность<br> комнаты</div>
            </div>
            <div class="panel-more-body">
              <ul>
                <li>Месяц</li>
                <li>Год</li>
                <li>2 Года</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-8">
          <div class="panel-more panel-more-fifth">
            <div class="panel-more-heading">
              <div class="panel-more-title text-center">
                <div><span>1 комната</span><br>
                  <i class="fas fa-user"></i> <strong>300 Мест</strong>
                </div>
              </div>
            </div>
            <div class="panel-more-body">
              <ul class="text-center">
                <li>
                  <p class="panel-del">$53.82/мес</p>
                  <p class="panel-price">$22.49<span>/мес</span></p>
                  <p class="panel-month"><span>$1 пробная неделя</span></p>
                  <p><a href="#" class="panel-link"><span class="panel-icon"><i class="fas fa-check"></i></span>
                    Заказать</a></p>
                </li>
                <li>
                  <p class="panel-del">$645.84/мес</p>
                  <p class="panel-price">$247.39<span>/год</span></p>
                  <p class="panel-month"><i class="fas fa-gift"></i> <span>1 месяц в подарок</span></p>
                  <p><a href="#" class="panel-link"><span class="panel-icon"><i class="fas fa-check"></i></span>
                    Заказать</a></p>
                </li>
                <li>
                  <p class="panel-del">$1267.68/2 года</p>
                  <p class="panel-price">$494.78<span>/2 года</span></p>
                  <p class="panel-month"><i class="fas fa-gift"></i> <span>2 месяца в подарок</span></p>
                  <p><a href="#" class="panel-link"><span class="panel-icon"><i class="fas fa-check"></i></span>
                    Заказать</a></p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row row-mar d-md-none">
        <div class="col-4">
          <div class="panel-more panel-more-first">
            <div class="panel-more-heading">
              <div class="panel-more-title text-center">Вместитель&shy;ность<br> комнаты</div>
            </div>
            <div class="panel-more-body">
              <ul>
                <li>Месяц</li>
                <li>Год</li>
                <li>2 Года</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-8">
          <div class="panel-more panel-more-fourth">
            <div class="panel-more-heading">
              <div class="panel-more-title text-center">
                <div><span>1 комната</span><br>
                  <i class="fas fa-user"></i> <strong>500 Мест</strong>
                </div>
              </div>
            </div>
            <div class="panel-more-body">
              <ul class="text-center">
                <li>
                  <p class="panel-sale">Скидка <span>-80%</span></p>
                  <p class="panel-price">$17.97<span>/мес</span></p>
                  <p class="panel-month"><span>$1 пробная неделя</span></p>
                  <p><a href="#" class="panel-link"><span class="panel-icon"><i class="fas fa-check"></i></span>
                    Заказать</a></p>
                </li>
                <li>
                  <p class="panel-del">$215.64/мес</p>
                  <p class="panel-price">$197.67<span>/год</span></p>
                  <p class="panel-month"><i class="fas fa-gift"></i> <span>1 месяц в подарок</span></p>
                  <p><a href="#" class="panel-link"><span class="panel-icon"><i class="fas fa-check"></i></span>
                    Заказать</a></p>
                </li>
                <li>
                  <p class="panel-del">$431.28/2 года</p>
                  <p class="panel-price">$395.34<span>/2 года</span></p>
                  <p class="panel-month"><i class="fas fa-gift"></i> <span>2 месяца в подарок</span></p>
                  <p><a href="#" class="panel-link"><span class="panel-icon"><i class="fas fa-check"></i></span>
                    Заказать</a></p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
  <section class="why more">
    <div class="container">
      <div class="content-title-pages">Нужно больше вебинарных комнат?</div>
      <div class="row d-none d-md-flex">
        <div class="col-3">
          <div class="panel-more panel-more-first">
            <div class="panel-more-heading">
              <div class="panel-more-title text-center">Вместитель&shy;ность<br> комнаты</div>
            </div>
            <div class="panel-more-body">
              <ul>
                <li>Месяц</li>
                <li>Год</li>
                <li>2 Года</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="panel-more panel-more-second">
            <div class="panel-more-heading">
              <div class="panel-more-title text-center">
                <div><i class="fas fa-user"></i> <strong>5 комнат по 100 Мест</strong><br>
                  (<span>комната за</span> $7.97 <span>вместо</span> $9.97)
                </div>
              </div>
            </div>
            <div class="panel-more-body">
              <ul class="text-center">
                <li>
                  <p class="panel-del">$44.85/мес</p>
                  <p class="panel-price">$39.85<span>/мес</span></p>
                  <p><a href="#" class="panel-link"><span class="panel-icon"><i class="fas fa-check"></i></span>
                    Заказать</a></p>
                </li>
                <li>
                  <p class="panel-del">$119.64/мес</p>
                  <p class="panel-price">$87.67<span>/год</span></p>
                  <p class="panel-month"><i class="fas fa-gift"></i> <span>1 месяц в подарок</span></p>
                  <p><a href="#" class="panel-link"><span class="panel-icon"><i class="fas fa-check"></i></span>
                    Заказать</a></p>
                </li>
                <li>
                  <p class="panel-del">$239.28/2 года</p>
                  <p class="panel-price">$175.34<span>/2 года</span></p>
                  <p class="panel-month"><i class="fas fa-gift"></i> <span>2 месяца в подарок</span></p>
                  <p><a href="#" class="panel-link"><span class="panel-icon"><i class="fas fa-check"></i></span>
                    Заказать</a></p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="panel-more panel-more-third">
            <div class="panel-more-heading">
              <div class="panel-more-title text-center">
                <div><i class="fas fa-user"></i> <strong>5 комнат по 200 Мест</strong><br>
                  (<span>комната за</span> $12.95 <span>вместо</span> $15.95)
                </div>
              </div>
            </div>
            <div class="panel-more-body">
              <ul class="text-center">
                <li>
                  <p class="panel-del">$79.75/мес</p>
                  <p class="panel-price">$64.75<span>/мес</span></p>
                  <p><a href="#" class="panel-link"><span class="panel-icon"><i class="fas fa-check"></i></span>
                    Заказать</a></p>
                </li>
                <li>
                  <p class="panel-del">$957.00/мес</p>
                  <p class="panel-price">$712.25<span>/год</span></p>
                  <p class="panel-month"><i class="fas fa-gift"></i> <span>1 месяц в подарок</span></p>
                  <p><a href="#" class="panel-link"><span class="panel-icon"><i class="fas fa-check"></i></span>
                    Заказать</a></p>
                </li>
                <li>
                  <p class="panel-del">$1914.00/мес</p>
                  <p class="panel-price">$1424.50<span>/2 года</span></p>
                  <p class="panel-month"><i class="fas fa-gift"></i> <span>2 месяца в подарок</span></p>
                  <p><a href="#" class="panel-link"><span class="panel-icon"><i class="fas fa-check"></i></span>
                    Заказать</a></p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="panel-more panel-more-fourth">
            <div class="panel-more-heading">
              <div class="panel-more-title text-center">
                <div><i class="fas fa-user"></i> <strong>5 комнат по 500 Мест</strong><br>
                  (<span>комната за</span> $15.97 <span>вместо</span> $17.97)
                </div>
              </div>
            </div>
            <div class="panel-more-body">
              <ul class="text-center">
                <li>
                  <p class="panel-del">$89.85/мес</p>
                  <p class="panel-price">$79.85<span>/мес</span></p>
                  <p><a href="#" class="panel-link"><span class="panel-icon"><i class="fas fa-check"></i></span>
                    Заказать</a></p>
                </li>
                <li>
                  <p class="panel-del">$1078.00/мес</p>
                  <p class="panel-price">$878.35<span>/год</span></p>
                  <p class="panel-month"><i class="fas fa-gift"></i> <span>1 месяц в подарок</span></p>
                  <p><a href="#" class="panel-link"><span class="panel-icon"><i class="fas fa-check"></i></span>
                    Заказать</a></p>
                </li>
                <li>
                  <p class="panel-del">$2156.00/мес</p>
                  <p class="panel-price">$351.34<span>/2 года</span></p>
                  <p class="panel-month"><i class="fas fa-gift"></i> <span>2 месяца в подарок</span></p>
                  <p><a href="#" class="panel-link"><span class="panel-icon"><i class="fas fa-check"></i></span>
                    Заказать</a></p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row row-mar d-md-none">
        <div class="col-4">
          <div class="panel-more panel-more-first">
            <div class="panel-more-heading">
              <div class="panel-more-title text-center">Вместитель&shy;ность<br> комнаты</div>
            </div>
            <div class="panel-more-body">
              <ul>
                <li>Месяц</li>
                <li>Год</li>
                <li>2 Года</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-8">
          <div class="panel-more panel-more-second">
            <div class="panel-more-heading">
              <div class="panel-more-title text-center">
                <div><strong>5 комнат по 100 Мест</strong><br>
                  <span>(комната за $7.97 вместо $9.97)</span></div>
              </div>
            </div>
            <div class="panel-more-body">
              <ul class="text-center">
                <li>
                  <p class="panel-del">$44.85/мес</p>
                  <p class="panel-price">$39.85<span>/мес</span></p>
                  <p><a href="#" class="panel-link"><span class="panel-icon"><i class="fas fa-check"></i></span>
                    Заказать</a></p>
                </li>
                <li>
                  <p class="panel-del">$119.64/мес</p>
                  <p class="panel-price">$87.67<span>/год</span></p>
                  <p class="panel-month"><i class="fas fa-gift"></i> <span>1 месяц в подарок</span></p>
                  <p><a href="#" class="panel-link"><span class="panel-icon"><i class="fas fa-check"></i></span>
                    Заказать</a></p>
                </li>
                <li>
                  <p class="panel-del">$239.28/2 года</p>
                  <p class="panel-price">$175.34<span>/2 года</span></p>
                  <p class="panel-month"><i class="fas fa-gift"></i> <span>2 месяца в подарок</span></p>
                  <p><a href="#" class="panel-link"><span class="panel-icon"><i class="fas fa-check"></i></span>
                    Заказать</a></p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row row-mar d-md-none">
        <div class="col-4">
          <div class="panel-more panel-more-first">
            <div class="panel-more-heading">
              <div class="panel-more-title text-center">Вместитель&shy;ность<br> комнаты</div>
            </div>
            <div class="panel-more-body">
              <ul>
                <li>Месяц</li>
                <li>Год</li>
                <li>2 Года</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-8">
          <div class="panel-more panel-more-third">
            <div class="panel-more-heading">
              <div class="panel-more-title text-center">
                <div>5 комнат по 200 Мест</strong><br>
                  <span>(комната за $12.95 вместо $15.95)</span></div>
              </div>
            </div>
            <div class="panel-more-body">
              <ul class="text-center">
                <li>
                  <p class="panel-del">$79.75/мес</p>
                  <p class="panel-price">$64.75<span>/мес</span></p>
                  <p><a href="#" class="panel-link"><span class="panel-icon"><i class="fas fa-check"></i></span>
                    Заказать</a></p>
                </li>
                <li>
                  <p class="panel-del">$957.00/мес</p>
                  <p class="panel-price">$712.25<span>/год</span></p>
                  <p class="panel-month"><i class="fas fa-gift"></i> <span>1 месяц в подарок</span></p>
                  <p><a href="#" class="panel-link"><span class="panel-icon"><i class="fas fa-check"></i></span>
                    Заказать</a></p>
                </li>
                <li>
                  <p class="panel-del">$1914.00/мес</p>
                  <p class="panel-price">$1424.50<span>/2 года</span></p>
                  <p class="panel-month"><i class="fas fa-gift"></i> <span>2 месяца в подарок</span></p>
                  <p><a href="#" class="panel-link"><span class="panel-icon"><i class="fas fa-check"></i></span>
                    Заказать</a></p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row row-mar d-md-none">
        <div class="col-4">
          <div class="panel-more panel-more-first">
            <div class="panel-more-heading">
              <div class="panel-more-title text-center">Вместитель&shy;ность<br> комнаты</div>
            </div>
            <div class="panel-more-body">
              <ul>
                <li>Месяц</li>
                <li>Год</li>
                <li>2 Года</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-8">
          <div class="panel-more panel-more-fourth">
            <div class="panel-more-heading">
              <div class="panel-more-title text-center">
                <div><strong>5 комнат по 500 Мест</strong><br>
                  <span>(комната за $15.97 вместо $17.97)</span></div>
              </div>
            </div>
            <div class="panel-more-body">
              <ul class="text-center">
                <li>
                  <p class="panel-del">$89.85/мес</p>
                  <p class="panel-price">$79.85<span>/мес</span></p>
                  <p><a href="#" class="panel-link"><span class="panel-icon"><i class="fas fa-check"></i></span>
                    Заказать</a></p>
                </li>
                <li>
                  <p class="panel-del">$1078.00/мес</p>
                  <p class="panel-price">$878.35<span>/год</span></p>
                  <p class="panel-month"><i class="fas fa-gift"></i> <span>1 месяц в подарок</span></p>
                  <p><a href="#" class="panel-link"><span class="panel-icon"><i class="fas fa-check"></i></span>
                    Заказать</a></p>
                </li>
                <li>
                  <p class="panel-del">$2156.00/мес</p>
                  <p class="panel-price">$351.34<span>/2 года</span></p>
                  <p class="panel-month"><i class="fas fa-gift"></i> <span>2 месяца в подарок</span></p>
                  <p><a href="#" class="panel-link"><span class="panel-icon"><i class="fas fa-check"></i></span>
                    Заказать</a></p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="why">
    <div class="container">
      <div class="content-title-pages">Почему именно GVO Conference?</div>
      <div class="row row-mar">
        <div class="col-3">
          <div class="panel-offer panel-first">
            <div class="panel-offer-heading">
              <div class="panel-offer-title text-center">Вместительность<br> комнаты</div>
            </div>
            <div class="panel-offer-body">
              <ul class="text-center">
                <li>My own<br class="d-inline-block d-md-none">conference</li>
                <li>Web<br class="d-inline-block d-md-none">conferens</li>
                <li>Webinar</li>
                <li class="panel-offer-footer">GVO Conference</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="panel-offer panel-second">
            <div class="panel-offer-heading">
              <div class="panel-offer-title text-center">
                <div><i class="fas fa-user"></i> 100 Мест</div>
              </div>
            </div>
            <div class="panel-offer-body">
              <ul class="text-center">
                <li class="panel-item-dash">-</li>
                <li class="panel-item-dash">-</li>
                <li>
                  <div>$20.00/<span>мес</span></div>
                </li>
                <li class="panel-offer-footer">
                  <div>$9.97/<span>мес</span></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="panel-offer panel-third">
            <div class="panel-offer-heading">
              <div class="panel-offer-title text-center">
                <div><i class="fas fa-user"></i> 300 Мест</div>
              </div>
            </div>
            <div class="panel-offer-body">
              <ul class="text-center">
                <li>
                  <div>$58.00/<span>мес</span>
                    <p>(при оплате сразу за год)</p></div>
                </li>
                <li>
                  <div>$52.00/<span>мес</span>
                    <p>(при оплате сразу за 6 месяцев)</p>
                  </div>
                </li>
                <li>
                  <div>$40.00/<span>мес</span></div>
                </li>
                <li class="panel-offer-footer">
                  <div>$22.49/<span>мес</span></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="panel-offer panel-fourth">
            <div class="panel-offer-heading">
              <div class="panel-offer-title text-center">
                <div><i class="fas fa-user"></i> 500 Мест</div>
              </div>
            </div>
            <div class="panel-offer-body">
              <ul class="text-center">
                <li>
                  <div>$50.00/<span>мес</span></div>
                </li>
                <li>
                  <div>$87.76/<span>мес</span>
                    <p>(при оплате сразу за 6 месяцев)</p></div>
                </li>
                <li class="panel-item-dash">-</li>
                <li class="panel-offer-footer">
                  <div>$17.97/<span>мес</span></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="packages-func">
    <div class="container">
      <div class="packages-link"><a href="#" class="butn-link butn-link-trans">Посмотреть функции <i
              class="fas fa-angle-double-right"></i></a></div>
      <p>В каждый тариф включены все функции. А также:</p>
      <ul class="packages-list">
        <li class="packages-item"><i class="fas fa-check"></i>Круглосуточная поддержка</li>
        <li class="packages-item"><i class="fas fa-check"></i>Доступные обновления</li>
        <li class="packages-item"><i class="fas fa-check"></i>Возможность изменить тариф</li>
      </ul>
    </div>
  </section>
</main>

@@include('template/layout/footer.html')