@@include('template/layout/header_policy.html')

<main class="policy">
  <div class="container">
    <div class="policy-title">Политика возврата</div>
    <p>Вам обязательно понравятся наши продукты и сервис!</p>
    <p>В то же время, если что-либо Вас не устроит, Вы защищены 30-ти дневной гарантией возврата средств!</p>
    <p>Мы гарантируем 30-дневный возврат средств. Если Вы по какой-либо причине решите приостановить пользование
      вебинарной комнатой Gvo Conference, мы гарантируем, что в течение 30 дней со дня первой оплаты сервиса полностью
      вернём Вам данную оплату. На 31-й день средства уже не возвращаются.</p>
    <p>Обратите внимание, что в случае приобретения пакета с пробным периодом по цене $1.00 за первые 7 дней пользования
      сервисом, эта сумма ($1.00) возврату не подлежит.</p>
    <p>Повторная оплата любой вебинарной комнаты, сроком пользования более месяца (полгода, год и т.д.) может быть
      возвращена в течение 7 дней с момента её проведения. Первая подобная оплата возвращается на тех же условиях, что и
      любая другая (за исключением $1.00)</p>
    <p>Любые дополнительные пакеты и расширения текущего пакета возвращаются, исходя из вышеописанной политики
      возврата.</p>
    <p>Чтобы закрыть аккаунт и получить средства обратно согласно данной политике возврата, пожалуйста, свяжитесь с нами
      через систему заявок в Вашем аккаунте или онлайн-чат.</p>
    <p>Вы также можете позвонить в наш офис: 1-210-651-4487 (для жителей США звонки бесплатны, стоимость звонков для
      жителей других стран зависит от оператора) с 17-00 до 01-00 по МСК</p>
    <p>Gvo Conference<br>
      Attn: Returns Department<br>
      6701 Guada Coma Drive<br>
      Schertz, Texas 78154<br>
      USA</p>
    <p>Эта политика возврата была обновлена 03-18-2017.</p>
    <p>&copy; Law Office of Michael E. Young, LLC, и лицензировано для использования владельцем этого сайта по адресу
      http://www.gvoconference.com/ru/</p>
    <p>Все права защищены. Никакая часть этого документа не может быть скопирована или использована кем-либо иным, кроме
      лицензиата, без прямого письменного разрешения владельца авторских прав.</p>
  </div>
</main>

@@include('template/layout/footer.html')