@@include('template/layout/header_policy.html')

<main class="policy">
  <div class="container">
    <div class="policy-title">Условия использования</div>

    <p>Спасибо за то, что посетили наш вебсайт. Если Вы желаете воспользоваться услугами Global Virtual Opportunities, Вы должны согласиться и придерживаться условий, описанных ниже.</p>

    <p>ЕСЛИ ВЫ НЕ СОГЛАСНЫ С ДАННЫМ ПОЛЬЗОВАТЕЛЬСКИМ СОГЛАШЕНИЕМ, НЕ ИСПОЛЬЗУЙТЕ УСЛУГИ НАШЕГО САЙТА.</p>

    <p>Несовершеннолетние<br>
      Мы не предоставляем услуг и не продаем продукцию детям. Если Вы не достигли 18 лет, Вы можете пользоваться нашим сайтом только с разрешения и при активном участии одного из родителей или законного опекуна. В этом случае, пожалуйста, не раскрывайте нам или другим посетителям сайта любую личную информацию.</p>

    <p>Политика конфиденциальности как часть данного Пользовательского Соглашения<br>
      Наша политика конфиденциальности является частью и предметом данного Пользовательского Соглашения. Вы можете ознакомиться с нашей политикой конфиденциальности на Global Virtual Opportunities.</p>

    <p>Политика анти-спама как часть данного Пользовательского Соглашения<br>
      Наша политика анти-спама является частью и предметом данного Пользовательского Соглашения. Вы можете ознакомиться с нашей политикой конфиденциальности на Global Virtual Opportunities.</p>

    <p>Отсутствие гарантий дохода как часть данного пользовательского Соглашения<br>
      Вы признаете и соглашаетесь, что использование услуг сайта Global Virtual Opportunities не гарантирует получение Вами какого-либо дохода в дальнейшем. Такая политика является частью и предметом данного Пользовательского соглашения.</p>

    <p>Изменения и прекращение действия<br>
    Условия данного пользовательского соглашения могут изменяться. Если подобные изменения будут применены, то они вступят в силу немедленно, и мы оповестим Вас об этом, разместив соответствующее уведомление на главной странице нашего сайта. Если Вы не согласны с изменениями, Вам не следует пользоваться услугами нашего сайта.
      Мы можем прекратить действие настоящего Пользовательского Соглашения без указания причин и в любое время без предварительного уведомления. Если Вы не уверены в условиях Пользовательского Соглашения, Вам следует читать их всякий раз перед началом использования услуг нашего сайта. Все вопросы и замечания должны быть доведены до нашего сведения путем отправки электронного сообщения на адрес legal@gvocorp.com с предоставлением всей информации касательно Вашего вопроса.</p>

    <p>Статус обладателя лицензии<br>
      Вы осознаете и соглашаетесь, что пользование услугами нашего сайта ограничено и не исключительно для Вас, как для лица, ограниченного в правах пользования услугами, действие которых может быть прекращено для Вас в любой момент. Мы можем запретить Вам пользоваться услугами нашего сайта без объяснения причин и предварительного уведомления.</p>

    <p>Право владения контентом<br>
      Все материалы нашего сайта принадлежат нам или поставщикам контента. От собственного имени и от лица поставщиков нашего контента мы являемся обладателями всех прав собственности на данный контент, включая права интеллектуальной собственности, которые Вам запрещено нарушать. Мы будем преследовать в судебном порядке и по всей строгости закона всех, кто попытается завладеть нашей собственностью.</p>

    <p>Вы соглашаетесь не копировать содержимое нашего сайта без нашего на то разрешения. Все запросы на использование нашего контента должны быть отправлены нам по электронной почте на адрес legal@gvocorp.com</p>

    <p>Если Вы считаете, что Ваши права интеллектуальной собственности были нарушены содержимым нашего сайта, пожалуйста, сообщите нам об этом, отправив электронное письмо по адресу legal@gvocorp.com или на адрес, указанный ниже. Мы просим Вас подробно описать предполагаемое нарушение, в том числе указать фактические и правовые основания касательно Ваших прав о владении.</p>

    <p>Отказ от ответственности и ограничение ответственности<br>
      Информация на нашем сайте предоставляется без гарантий качества и по мере поступления. Вы соглашаетесь, что Вы полностью ответственны за использование услуг нашего сайта. Мы подчеркиваем отсутствие каких-либо гарантий, как выраженных, так и не выраженных, включая, помимо прочего, гарантии качества услуг и пригодности их для той или иной цели. Мы не гарантируем, что наш сайт будет доступен в любое время, услуги будут оказаны бесперебойно, вовремя, безошибочно, безопасно, будут отвечать Вашим требованиям, и что любые ошибки на сайте будут исправлены.</p>

    <p>На информацию нашего сайта необязательно полагаться и она не должна быть истолкована, как профессиональный совет от нас. Мы не гарантируем точность или полноту любой предоставленной информации и не несем ответственности за любые потери , вызванные использованием данной информации.</p>

    <p>Если Ваша юрисдикция не соответствует данным условиям, то некоторые из ограничений не могут быть к Вам применимы. Единственным и исключительным средством в таком случае является отказ от использования сайта.</p>

    <p>Ни при каких обстоятельствах мы не несем ответственности за любой прямой, косвенный, случайный, специальный, вытекающий или присужденный как наказание ущерб, включая, помимо прочего, упущенную выгоду, ущерб от использования, потерю данных и иной ущерб, возникший путем использования сайта или его содержимого любым способом, даже если Вы были уведомлены о возможности такого ущерба.</p>

    <p>Наша полная ответственность за любую претензию, возникшую вследствие пользования услугами нашего сайта, в общей сложности не должна превышать сто ($100) долларов, и эта сумма является мерой по возмещению всех претензий, которые, возможно, возникли против нас или наших партнеров. Любая подобная претензия должна быть предметом обязательного закрытого разбирательства способом, описанным ниже в данном Пользовательском Соглашении.</p>

    <p>Нецензурный и оскорбительный контент<br>
      Мы не несем ответственности за любой нецензурный или оскорбительный контент, получаемый или замеченный Вами у других пользователей во время пользования услугами нашего сайта. Однако если Вы действительно получаете и замечаете подобного рода контент у других пользователей, пожалуйста, пришлите нам письмо по электронной почте на legal@gvocorp.com для того, чтобы мы смогли рассмотреть этот вопрос. Несмотря на то, что это не является нашей обязанностью, мы оставляем за собой право контролировать, отслеживать и удалять неприличные или оскорбительные материалы, размещенные на нашем сайте.</p>

    <p>Освобождение от ответственности и возмещения убытков<br>
      Вы осознаете то, что соглашаетесь защищать и ограждать нас и наших партнеров от любых обязательств, потерь, претензий и расходов, включая соответствующие расходы на оплату услуг адвоката, возникающих в результате пользования услугами нашего сайта или нарушения условий данного Пользовательского Соглашения.</p>

    <p>Соответствие законодательству и разрешение споров<br>
      Вы соглашаетесь соблюдать все применимые законы, пользуясь услугами нашего сайта.</p>

    <p>Вы соглашаетесь что законы штата Техас регламентируют данное Пользовательское Соглашение независимо от противоречий законодательных норм.</p>

    <p>Вы также соглашаетесь, что любые возникающие между нами споры, кроме любых претензий о нарушении прав интеллектуальной собственности, выдвинутых против Вас, должны быть урегулированы исключительно согласно коммерческих арбитражных правил Американской Арбитражной Ассоциации на закрытом арбитражном разбирательстве. Все претензии должны быть рассмотрены в арбитражном порядке на индивидуальной основе и они не могут быть объединены в арбитраже с любой претензией или предметом еще какого-либо спора. Все арбитражные разбирательства должны проводиться в городе Комал, штат Техас, США. Каждая сторона должна возместить половину понесенных затрат на судебные издержки и расходов на арбитражные сборы, но каждая сторона берет на себя все расходы по оплате своих юристов.</p>

    <p>Автономность положений данного Пользовательского Соглашения<br>
      Если какая-либо часть данного Пользовательского Соглашения определена постановлением суда надлежащей юрисдикции недействительной или не имеющей силы, эта часть должна быть ограничена или устранена таким образом, чтобы оставшаяся часть данного Пользовательского Соглашения имела юридическую силу и юридически обязательный характер в полной мере.</p>

    <p>Как с нами связаться<br>
    Любые вопросы касательно данного Пользовательского Соглашения должны быть доведены до нашего сведения по электронной почте по адресу notice[at]gvocorp.com с предоставлением всей информации, касательно Вашего вопроса.</p>

    <p>Вы можете также отправить нам свои вопросы по следующему адресу:</p>

    <p>Global Virtual Opportunities</p>

    <p>6701 Guada Coma Drive<br>
    Schertz, Texas 78154<br>
    USA</p>
    <p>Полнота Соглашения</p>
    Данное Пользовательское Соглашение, в том числе связанные с ним напрямую положения, означает Ваше полное согласие с нами касательно условий пользования услугами нашего сайта.

    <p>Последнее обновление данного Пользовательского соглашения было произведено 20.08.2010</p>

    <p>&copy; Адвокатское бюро Michael E. Young, LLC, лицензия на право использования выдана владельцу сайта http://GoGVO.com. Все права защищены. Ни один из разделов данного документа не может быть скопирован либо использован кем-либо, кроме владельца лицензии без прямого письменного разрешения владельца авторских прав.</p>


  </div>
</main>

@@include('template/layout/footer.html')