@@include('template/layout/header.html')

<main class="content whyas">
  <section class="banner-whyas banner-page">
    <div class="container">
      <h1 class="banner-title"><strong>GVO Conference</strong> - надежный, мощный и доступный<br
              class="d-none d-lg-inline-block"> поставщик услуг платформы для вебинаров.</h1>
    </div>
  </section>
  <section class="whyas-text">
    <div class="container">
      <p>Мы предоставляем услуги онлайн-конференции уже более 10 лет. Благодаря нашей ценовой политике комната для
        проведения вебинаров стала общедоступной для любой страны, в которой есть подключение к Интернету.</p>
      <p>Теперь приобрести вебинарную комнату могут не только состоятельные пользователи и крупные компании. С нами
        видеоконференцией может пользоваться каждый!</p>
      <div class="packages-link"><a href="#" class="butn-link butn-link-trans">Cмотреть тарифы <i
              class="fas fa-angle-double-right"></i></a></div>
    </div>
  </section>
  <section class="whyas-next">
    <div class="container-fluid">
      <div class="content-title-pages">Почему наши онлайн-комнаты дешевле многих,<br> представленных в индустрии?</div>
      <div class="row col-mar">
        <div class="col-lg-6 col-pad d-none d-md-flex">
          <div class="whyas-img">
            <img src="img/rooms.png" alt="rooms" class="img-fluid">
          </div>
        </div>
        <div class="col-lg-6 d-md-none">
          <div class="whyas-img">
            <img src="img/pic_1_mob.png" alt="rooms" class="img-fluid">
          </div>
        </div>
        <div class=" col-lg-6 col-xl-5">
          <div class="whyas-next-wrap">
            <p>Большинство провайдеров предоставляют сервис вебинаров по завышенным ценам, потому что у них есть
              посредники. Из этого следует, что, поставщик услуг веб-конференции может собственно и не владеть такими
              вещами, как:</p>
            <ul class="packages-list">
              <li class="packages-item"><i class="fas fa-check"></i>Программный код</li>
              <li class="packages-item"><i class="fas fa-check"></i>Оборудование</li>
              <li class="packages-item"><i class="fas fa-check"></i>Серверы</li>
              <li class="packages-item"><i class="fas fa-check"></i>Оптоволокноф</li>
              <li class="packages-item"><i class="fas fa-check"></i>Собственный дата-центр</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col">
          <p>Если все перечисленные пункты предполагают посредников, то стоимость услуг онлайн-конференции будет намного
            дороже, поскольку провайдер должен будет покрыть еще и эти издержки.</p>
          <p>GVO conference принадлежит всё из списка, включая наш личный Дата-центр. В нашей компании нет посредников,
            здесь - только мы и наши клиенты!</p>
        </div>
      </div>
    </div>
  </section>
  <section class="why">
    <div class="container">
      <div class="content-title-pages">Почему именно GVO Conference?</div>
      <div class="row row-mar">
        <div class="col-3">
          <div class="panel-offer panel-first">
            <div class="panel-offer-heading">
              <div class="panel-offer-title text-center">Вместительность<br> комнаты</div>
            </div>
            <div class="panel-offer-body">
              <ul class="text-center">
                <li>My own<br class="d-inline-block d-md-none">conference</li>
                <li>Web<br class="d-inline-block d-md-none">conferens</li>
                <li>Webinar</li>
                <li class="panel-offer-footer">GVO Conference</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="panel-offer panel-second">
            <div class="panel-offer-heading">
              <div class="panel-offer-title text-center">
                <div><i class="fas fa-user"></i> 100 Мест</div>
              </div>
            </div>
            <div class="panel-offer-body">
              <ul class="text-center">
                <li class="panel-item-dash">-</li>
                <li class="panel-item-dash">-</li>
                <li>
                  <div>$20.00/<span>мес</span></div>
                </li>
                <li class="panel-offer-footer">
                  <div>$9.97/<span>мес</span></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="panel-offer panel-third">
            <div class="panel-offer-heading">
              <div class="panel-offer-title text-center">
                <div><i class="fas fa-user"></i> 300 Мест</div>
              </div>
            </div>
            <div class="panel-offer-body">
              <ul class="text-center">
                <li>
                  <div>$58.00/<span>мес</span>
                    <p>(при оплате сразу за год)</p></div>
                </li>
                <li>
                  <div>$52.00/<span>мес</span>
                    <p>(при оплате сразу за 6 месяцев)</p>
                  </div>
                </li>
                <li>
                  <div>$40.00/<span>мес</span></div>
                </li>
                <li class="panel-offer-footer">
                  <div>$22.49/<span>мес</span></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="panel-offer panel-fourth">
            <div class="panel-offer-heading">
              <div class="panel-offer-title text-center">
                <div><i class="fas fa-user"></i> 500 Мест</div>
              </div>
            </div>
            <div class="panel-offer-body">
              <ul class="text-center">
                <li>
                  <div>$50.00/<span>мес</span></div>
                </li>
                <li>
                  <div>$87.76/<span>мес</span>
                    <p>(при оплате сразу за 6 месяцев)</p></div>
                </li>
                <li class="panel-item-dash">-</li>
                <li class="panel-offer-footer">
                  <div>$17.97/<span>мес</span></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="whyas-text">
    <div class="container">
      <p>В то время, как наши конкуренты предлагают подобные услуги, начиная от $25.00 за комнаты вместимостью 20-60
        мест, мы стартуем с $8.97/месяц за комнату в 50 мест. В то время, как провайдеры продают комнаты почасово или
        посуточно, сразу на год или полгода, мы предоставляем услуги как на полный календарный месяц, так и на более
        длительный срок (полгода, год, два года, на выбор).</p>
      <p>С нами вы получаете безлимит по времени проведения веб-конференций, неограниченное количество проведенных
        вебинаров и всё это по низкой цене! Никаких лимитов, мы не экономим на наших клиентах!</p>
      <div class="packages-link"><a href="#" class="butn-link butn-link-red">Закажи уже сейчас!</a></div>
    </div>
  </section>
</main>

@@include('template/layout/footer.html')