<footer class="footer">
  <!--<div class="container">-->
    <!--<div class="text-center footer__copy">&copy; 2018 PureLeverage.com. All Rights Reserved.</div>-->
    <!--<ul class="footer__list">-->
      <!--<li class="footer__list_item"><a href="#" class="footer__list_link">Privacy Policy</a></li>-->
      <!--<li class="footer__list_item"><a href="#" class="footer__list_link">Terms of Use</a></li>-->
      <!--<li class="footer__list_item"><a href="#" class="footer__list_link">Returns Policy</a></li>-->
      <!--<li class="footer__list_item"><a href="#" class="footer__list_link">Earnings Disclaimer</a></li>-->
    <!--</ul>-->
  <!--</div>-->

</footer>
  <script	src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
	<script src="js/script.js"></script>

	</body>
</html>